*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav li,
nav a
{
    display: inline-block;
    text-decoration: none;
    padding: 0px 5px;
    margin: 10px 5px;
    border-radius: 25px;
    background-color: white;
}

a{
    height: 15px;
    width: 15px;
    text-align: center;
    vertical-align: middle;
}

nav{
    position: fixed;
    right: 5px;
    top: 5px;
    margin-right: 10px;
}

#red-bg>img,
#green-bg>img,
#yellow-bg>img{
    height: 600px;
    width: 800px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.full-page{
    height: 100vh;
    width: 100vw;
    position: relative;
}

#red-bg{
    background-color: red;
}

#green-bg{
    background-color: green;
}

#yellow-bg{
    background-color: yellow;
}
