*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav li,
nav a
{
    display: inline-block;
    text-decoration: none;
    padding: 0px 6px 5px;
    margin: 10px 5px;
    border-radius: 25px;
    background-color: white;
    font-family: 'Titillium Web', sans-serif;
}

a{
    height: 15px;
    width: 15px;
    text-align: center;
    vertical-align: middle;
}

nav{
    position: fixed;
    z-index: 3;
    right: 5px;
    top: 5px;
    margin-right: 10px;
}

.full-page{
    height: 100vh;
    width: 100vw;
    position: relative;
}

.text{
    text-transform: uppercase;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Titillium Web', sans-serif;
    font-size: 50px;
    color: yellow;
    width: 500px;
    text-align: center;
}

#red-bg>img,
#green-bg>img,
#yellow-bg>img{
    height: 400px;
    width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#red-bg{
    background-color: red;
}

#green-bg{
    background-color: green;
}

#yellow-bg{
    background-color: yellow;
}

#green-text{
    color: green;
}



