*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

nav li{
    display: inline-block;
    font-size: 1.2em;
    margin: 20px 20px 0 0;
    line-height: 40px;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: white;
    font-family: 'Titillium Web', sans-serif;
    box-shadow: 1px 1px 5px black;
}

nav{
    position: fixed;
    z-index: 3;
    right: 5px;
    top: 5px;
}

.full-page{
    height: 100vh;
    width: 100vw;
    position: relative;
}

.text{
    text-transform: uppercase;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Titillium Web', sans-serif;
    font-size: 50px;
    color: yellow;
    width: 500px;
    text-align: center;
}

#red-bg>img,
#green-bg>img,
#yellow-bg>img{
    height: 400px;
    width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#red-bg{
    background-color: red;
}

#green-bg{
    background-color: green;
}

#yellow-bg{
    background-color: yellow;
}

#green-text{
    color: green;
}



